<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/admin/top-bar %>

    <div class="uk-container">
      <div class="uk-flex uk-flex-center uk-margin-top">
        <form method="get" action="/admin/searchUser">
          <span uk-search-icon></span>
          <input class="uk-input uk-form-small uk-form-width-medium" type="text" name="search" value="<%= search %>" />
          <button class="uk-button uk-button-primary uk-button-small">Search</button>
        </form>
      </div>
    </div>

    <div class="uk-container">
      <div class="uk-flex uk-flex-center uk-margin-top">
        <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
          <caption>List of System Users</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user) { %>
              <tr>
                <td><%= user._id %></td>
                <td><%= user.name.fName %></td>
                <td><%= user.name.lName %></td>
                <td><%= user.email %></td>
                <td><a class="uk-link-text" href="/admin/editUser?userId=<%= user._id%>">Edit</a></td>
                <td><a class="uk-link-text" href="#">Delete</a></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <% include ../partials/foot %>
  </body>
</html>
