  <% include ../partials/head %>
  <body>
    <% include ../partials/admin/top-bar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <form method="get" action="/admin/users/search">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <input type="text" name="search" class="form-control mb-2" value="<%= search %>">
              </div>
              <div class="col-auto">
                <button class="btn btn-primary mb-2">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover table-sm">
            <caption>List of System Users</caption>
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user) { %>
                <tr>
                  <td><%= user._id %></td>
                  <td><%= user.name.fName %></td>
                  <td><%= user.name.lName %></td>
                  <td><%= user.email %></td>
                  <td><a class="" href="/admin/users/edit/<%= user._id%>">Edit</a></td>
                  <td><a class="" href="#">Delete</a></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <% include ../partials/foot %>
  </body>
</html>
